<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="jquery-1.8.3.min.js"  type="text/javascript" charset="utf-8"></script>
    <script src="sui.min.js"  type="text/javascript" charset="utf-8"></script>
    <script src="doT.js"  type="text/javascript" charset="utf-8"></script>
</head>
<body>
<H1 th:text="(${user}!=null)? ${user.userName}: '' " id="admin" style="color: darkred">欢迎!</H1>
</body>
</html>
<script>
    $(document).ready(function () {
        var ee = "欢迎！,";
        var text =$("#admin").text();
        ee+=text;
        $("#admin").text(ee);
    })
</script>

